body, html, .container, .row, .col, * {
    font-family: 'Basis Grotesque Pro', sans-serif !important;
}

body {
    background-color: #0F203A;
}

.custom-heading {
    color: white;
    text-align: left;
    padding-top: 1rem;
}

.label-white {
    color: white;
}

